.board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  border-width: 3px;
  border-style: solid;
}

.blockLine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.next {
  margin-left: 5px;
  color: gray;
}

.square {
  float: left;
  width: 12px;
  border-width: 2px;
  border-style: solid;
  padding: 2px;
  margin: 1px;
}

:root {
  --none: lightgray;
  --one: #679b9b;
  --two: #305f72;
  --three: #d45079;
  --four: #bd574e;
  --five: #f1935c;
  --six: #6e5773;
  --seven: black;
}

.square.none {
  border-color: var(--none);
}
.square.one {
  border-color: var(--one);
}
.square.two {
  border-color: var(--two);
}
.square.three {
  border-color: var(--three);
}
.square.four {
  border-color: var(--four);
}
.square.five {
  border-color: var(--five);
}
.square.six {
  border-color: var(--six);
}
.square.seven {
  border-color: var(--seven);
}

.internSquare {
  width: 12px;
  height: 12px;
}

.internSquare.none {
  background: var(--none);
}
.internSquare.one {
  background: var(--one);
}
.internSquare.two {
  background: var(--two);
}
.internSquare.three {
  background: var(--three);
}
.internSquare.four {
  background: var(--four);
}
.internSquare.five {
  background: var(--five);
}
.internSquare.six {
  background: var(--six);
}
.internSquare.seven {
  background: var(--seven);
}
